.send_email {
    padding: 2rem;
}

.send_email form {
    display: flex;
    flex-direction: column;
}

.send_email form input,
select {
    /* width: 100%; */
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.send_email form button {
    /* width: 100%; */
    background-color: #151515;
    color: #fff;
    width: 100%;
}